* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: blueviolet;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.wrapper {
  position: relative;
  width: 420px;
  height: 450px;
  background-color: salmon;
  border-radius: 10px;
  color: beige;
}

.wrapper .form-box {
  width: 100%;
  padding: 40px;
}

form h1 {
  text-align: center;
}

form .input-box {
  position: relative;
  width: 100%;
  height: 40px;
  margin: 20px 90px;
}

.input-box input {
  height: 100%;
  outline: none;
  border-radius: 40px;
}

form .remember-forget {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  margin: 5px 60px;
}

.remember-forget a {
  text-decoration: none;
}

.remember-forget a:hover {
  text-decoration: underline;
}

form button {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
}

form .register-link {
  text-align: center;
  font-size: 13px;
  margin: 5px 15px;
}

.register-link p a {
  text-decoration: none;
}

.register-link p a:hover {
  text-decoration: underline;
}
