.nav {
  background-color: #000000;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.nav-brand {
  font-size: 1.5rem;
  font-weight: bold;
}
.nav-brand .logo {
  color: red;
  text-decoration: none;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-link {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.2s;
  text-decoration: none;
  color: blueviolet;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: red;
}

@media (max-width: 768px) {
  .nav {
    padding: 1rem;
  }

  .nav-brand {
    font-size: 1.2rem;
  }

  .nav-links {
    gap: 1rem;
  }

  .nav-link {
    padding: 0.5rem;
  }
}
